<center><b>In the name of God</b></center>

<b>Course</b>: Statistical Pattern Recognition
<br>
<b>Description:</b> HomeWork 2 | Question 5
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

In [2]:
# Import Allowed Libraries
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

In [4]:
data = pd.read_csv("./blood_test.csv")

In [5]:
data

     mcv  alkphos  sgpt  sgot  gammagt  drinks  selector
0     85       92    45    27       31     0.0         1
1     85       64    59    32       23     0.0         2
2     86       54    33    16       54     0.0         2
3     91       78    34    24       36     0.0         2
4     87       70    12    28       10     0.0         2
..   ...      ...   ...   ...      ...     ...       ...
340   99       75    26    24       41    12.0         1
341   96       69    53    43      203    12.0         2
342   98       77    55    35       89    15.0         1
343   91       68    27    26       14    16.0         1
344   98       99    57    45       65    20.0         1

[345 rows x 7 columns]

In [8]:
data["addicted"] = data["drinks"].apply(lambda x: x>5)

In [17]:
train_data = data[data["selector"]==1]
test_data = data[data["selector"]==2]

del train_data["drinks"]
del train_data["selector"]
del test_data["drinks"]
del test_data["selector"]

In [18]:
test_data

     mcv  alkphos  sgpt  sgot  gammagt  addicted
1     85       64    59    32       23     False
2     86       54    33    16       54     False
3     91       78    34    24       36     False
4     87       70    12    28       10     False
5     98       55    13    17       17     False
..   ...      ...   ...   ...      ...       ...
336   86      123    20    25       23      True
337   91       93    35    34       37      True
338   87       87    15    23       11      True
339   87       56    52    43       55      True
341   96       69    53    43      203      True

[200 rows x 6 columns]

# a

In [106]:
NUMBER_SAMPLES = 100

In [107]:
CREATE_SAMPLES = False

if CREATE_SAMPLES:
    samples = train_data.sample(n=NUMBER_SAMPLES)
    samples.to_csv(f"./Samples/{NUMBER_SAMPLES}.csv")
else:
    samples = pd.read_csv(f"./Samples/{NUMBER_SAMPLES}.csv").drop(columns=["Unnamed: 0"])

In [108]:
samples

    mcv  alkphos  sgpt  sgot  gammagt  addicted
0    99       75    26    24       41      True
1    97       71    29    22       52      True
2    87       71    33    20       22     False
3    91       57    33    23       12      True
4    89       35    27    29       17     False
..  ...      ...   ...   ...      ...       ...
95   95       50    13    14       15      True
96   91       54    25    22       35     False
97   91       71    12    22       11     False
98   91       67    32    26       13     False
99   90       51    23    17       27     False

[100 rows x 6 columns]

In [109]:
class_data = []
class_data.append(samples[samples["addicted"] == False][["mcv", "alkphos", "sgpt", "sgot"]])
class_data.append(samples[samples["addicted"] == True][["mcv", "alkphos", "sgpt", "sgot"]])

In [110]:
class_mean = []
for data in class_data:
    class_mean.append(data.mean())
    
class_cov = []
for data in class_data:
    class_cov.append(data.cov())

In [111]:
def p_likelihood(class_, test_item):
    mean = class_mean[class_]
    sigma = class_cov[class_].values
    sigma_det = np.linalg.det(sigma)
    sigma_inv = np.linalg.inv(sigma)
    
    x = test_item[["mcv", "alkphos", "sgpt", "sgot"]]
    n = 4
    p = 1/((2*np.pi*sigma_det)**(n/2))*np.exp(-1/2* (x-mean).T @ sigma_inv @ (x-mean))
    
    return p

In [112]:
def predict_likelihood(test_item):
    if p_likelihood(0, test_item) < p_likelihood(1, test_item):
        return True
    else:
        return False

In [113]:
from sklearn.metrics import accuracy_score, confusion_matrix

true_list = []
predict_list = []
for index, test_item in test_data.iterrows():
    true_list.append(test_item["addicted"])
    predict_list.append(predict_likelihood(test_item))

print(f"Confusion Matrix:\n {confusion_matrix(true_list, predict_list)}")
print(f"Accuracy = {round(accuracy_score(true_list, predict_list)*100, 2)}%")

Confusion Matrix:
 [[146  11]
 [ 32  11]]
Accuracy = 78.5%

In [117]:
len(class_data[1])

34

In [ ]:
p_prior()

In [84]:
predict_likelihood(class_data[0].iloc[0])

False

In [77]:
p_likelihood(0, class_data[0].iloc[0])

-36.78116489716858

In [79]:
p_likelihood(0, class_data[1].iloc[0])

-39.67951966062369

In [73]:
class_cov

[               mcv     alkphos       sgpt       sgot
 mcv      14.589510    3.050350  -3.516783  -2.951748
 alkphos   3.050350  328.642424 -10.779953  16.593007
 sgpt     -3.516783  -10.779953  91.178788  18.343357
 sgot     -2.951748   16.593007  18.343357  33.196503,
                mcv     alkphos        sgpt        sgot
 mcv       8.257576   12.863636   -5.954545    1.803030
 alkphos  12.863636  461.287879   54.621212   40.924242
 sgpt     -5.954545   54.621212  448.393048  125.804813
 sgot      1.803030   40.924242  125.804813   65.466132]

In [ ]:
sample_mean = []
sample_cov = []

In [63]:
samples_y

    addicted
0       True
1       True
2      False
3       True
4      False
..       ...
95      True
96     False
97     False
98     False
99     False

[100 rows x 1 columns]