<center><b>In the name of God</b></center>

<b>Course</b>: Statistical Pattern Recognition
<br>
<b>Description:</b> HomeWork 2 | Question 5
<br>
<b>Developer</b>: Alireza Mazochi (400131075)

In [2]:
# Import Allowed Libraries
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

In [3]:
data = pd.read_csv("./blood_test.csv")

In [4]:
data

     mcv  alkphos  sgpt  sgot  gammagt  drinks  selector
0     85       92    45    27       31     0.0         1
1     85       64    59    32       23     0.0         2
2     86       54    33    16       54     0.0         2
3     91       78    34    24       36     0.0         2
4     87       70    12    28       10     0.0         2
..   ...      ...   ...   ...      ...     ...       ...
340   99       75    26    24       41    12.0         1
341   96       69    53    43      203    12.0         2
342   98       77    55    35       89    15.0         1
343   91       68    27    26       14    16.0         1
344   98       99    57    45       65    20.0         1

[345 rows x 7 columns]

In [5]:
data["addicted"] = data["drinks"].apply(lambda x: x>5)

In [6]:
train_data = data[data["selector"]==1]
test_data = data[data["selector"]==2]

del train_data["drinks"]
del train_data["selector"]
del test_data["drinks"]
del test_data["selector"]

In [7]:
test_data

     mcv  alkphos  sgpt  sgot  gammagt  addicted
1     85       64    59    32       23     False
2     86       54    33    16       54     False
3     91       78    34    24       36     False
4     87       70    12    28       10     False
5     98       55    13    17       17     False
..   ...      ...   ...   ...      ...       ...
336   86      123    20    25       23      True
337   91       93    35    34       37      True
338   87       87    15    23       11      True
339   87       56    52    43       55      True
341   96       69    53    43      203      True

[200 rows x 6 columns]

# a

In [122]:
NUMBER_SAMPLES = 100

In [123]:
CREATE_SAMPLES = False

if CREATE_SAMPLES:
    samples = train_data.sample(n=NUMBER_SAMPLES)
    samples.to_csv(f"./Samples/{NUMBER_SAMPLES}.csv")
else:
    samples = pd.read_csv(f"./Samples/{NUMBER_SAMPLES}.csv").drop(columns=["Unnamed: 0"])

In [124]:
class_data = []
class_data.append(samples[samples["addicted"] == False][["mcv", "alkphos", "sgpt", "sgot"]])
class_data.append(samples[samples["addicted"] == True][["mcv", "alkphos", "sgpt", "sgot"]])

In [125]:
class_mean = []
for data in class_data:
    class_mean.append(data.mean())
    
class_cov = []
for data in class_data:
    class_cov.append(data.cov())

# b

In [126]:
def p_likelihood(class_, test_item):
    mean = class_mean[class_]
    sigma = class_cov[class_].values
    sigma_det = np.linalg.det(sigma)
    sigma_inv = np.linalg.inv(sigma)
    
    x = test_item[["mcv", "alkphos", "sgpt", "sgot"]]
    n = 4
    p = 1/((2*np.pi*sigma_det)**(n/2))*np.exp(-1/2* (x-mean).T @ sigma_inv @ (x-mean))
    
    return p

In [127]:
def predict_mle(test_item):
    if p_likelihood(0, test_item) < p_likelihood(1, test_item):
        return True
    else:
        return False

In [128]:
from sklearn.metrics import accuracy_score, confusion_matrix

true_list = []
predict_list = []
for index, test_item in test_data.iterrows():
    true_list.append(test_item["addicted"])
    predict_list.append(predict_mle(test_item))

print(f"Confusion Matrix:\n {confusion_matrix(true_list, predict_list)}")
print(f"Accuracy = {round(accuracy_score(true_list, predict_list)*100, 2)}%")

Confusion Matrix:
 [[147  10]
 [ 33  10]]
Accuracy = 78.5%

# c

In [129]:
class_prior = [len(samples[samples["addicted"] == False])/len(samples)
               , len(samples[samples["addicted"] == True])/len(samples)]

In [130]:
def predict_beyesian(test_item):
    if p_likelihood(0, test_item) * class_prior[0] < p_likelihood(1, test_item) * class_prior[1]:
        return True
    else:
        return False

In [131]:
from sklearn.metrics import accuracy_score, confusion_matrix

true_list = []
predict_list = []
for index, test_item in test_data.iterrows():
    true_list.append(test_item["addicted"])
    predict_list.append(predict_beyesian(test_item))

print(f"Confusion Matrix:\n {confusion_matrix(true_list, predict_list)}")
print(f"Accuracy = {round(accuracy_score(true_list, predict_list)*100, 2)}%")

Confusion Matrix:
 [[149   8]
 [ 36   7]]
Accuracy = 78.0%

# d

    mcv  alkphos  sgpt  sgot  gammagt  addicted
0    86       66    28    24       21     False
1    90       60    25    19        5     False
2    87       41    31    19       16     False
3    94       83    81    34      201      True
4    95       77    30    14       21     False
..  ...      ...   ...   ...      ...       ...
95   92       41    37    22       37      True
96   91       54    25    22       35     False
97   86       79    28    16       17     False
98   89       35    27    29       17     False
99   93       68    24    18       19      True

[100 rows x 6 columns]

In [133]:
class_mean

[mcv        89.478873
 alkphos    70.661972
 sgpt       27.830986
 sgot       20.788732
 dtype: float64,
 mcv        93.413793
 alkphos    74.000000
 sgpt       43.344828
 sgot       28.068966
 dtype: float64]